<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	<!-- Header -->
	
	<div class='box' id = 'heading'>
		<h1> <%=day%> </h1>
	</div>

	<!-- Grocery List -->

	<div class = 'box'>

		<% for (let i = 0; i < groceries.length; i++){ %>
			<div class = 'item'>
				<input type="checkbox">
				<p> 
					<%= groceries[i] %> : $<%= prices[i] %> 
				</p>
			</div>
		<% } %>
	</div>

	<!-- Forms -->
	<div class = 'box'>
	
	<form action= "/" method="post" accept-charset="utf-8">
		<input type="text" name="newItem" placeholder='Add Grocery' autocomplete="off" required>
		<button type="submit" name='button'>+</button>
		<input type="number" name="amount" placeholder='How many?' autocomplete="off" required step='1' min="1">
		<button type="submit" name='button'>+</button>
		<input type="number" name="newPrice" placeholder='Price Per Unit' autocomplete="off" required step="0.01" min="0">
		<button type="submit" name='button'>+</button>
	</form>

	</div>
	
	<div class='box' id='totalPrice'>
		<h3>Total Price: $<%= sum %> </h3>
	</div>

	<footer>
		Andy Zheng
	</footer>
</body>
</html>